body {
  padding: 20px;
}
footer {
  border-radius: 20px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 5px;
  background-color: #d1e4ff;
  color: navy;
  height: 170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dg-fbar-img {
  border-radius: 25px;
  padding: 7px;
  margin: 10px;
  width: 50px;
  height: 50px;
}
.dg-fbar-img:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.projects {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
